<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portland Mixer Drafting - Tournament Select</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Select a Portland Tournament</h1>

    <form method="POST" action="/confirm">
        <label for="tournament">Choose a tournament:</label>
        <select id="tournament" name="tournament">
            {{range $index, $tournament := .tournaments}}
            <option value="{{$index}}">Name: {{index $tournament 1}}, Date: {{index $tournament 2}}</option>
            {{else}}
            <option>No tournaments available</option>
            {{end}}
        </select>
        <br><br>
        <button type="submit">Confirm</button>
    </form>

    {{if .selectedTournament}}
    <h2>Selected Tournament:</h2>
    <p>ID: {{index .selectedTournament 0}}</p>
    <p>Name: {{index .selectedTournament 1}}</p>
    <p>Date: {{index .selectedTournament 2}}</p>
    <p>Player Count: {{.playerCount}}</p>
    {{end}}

    <div class="players-grid">
        <h2>Select Your Captains</h2>
        {{range $index, $player := .players}}
        <!-- Wrapping each card and checkbox in a label so both are clickable -->
        <label class="player-card" onclick="toggleCheckbox('playerCheckbox{{$index}}')">
            <div class="checkbox-btn">
                <input type="checkbox" id="playerCheckbox{{$index}}" name="selectedPlayers" value="{{.Name}}">
            </div>
            <h3>{{.Name}}</h3>
            <p><strong>Discord Handle:</strong> {{index .FormFields "discord"}}</p>
            <p><strong>Pronouns:</strong> {{.Pronouns}}</p>
            <p><strong>Captain?: <span class="{{if or (eq (index .FormFields "captain") "Yes" ) (eq (index .FormFields "captain" ) "If needed")}}captain-text{{end}}">{{index .FormFields "captain"}}</span></strong></p>
            <p><strong>Flexible Attendence?:</strong> {{index .FormFields "flexible"}}</p>
            <p><strong>Roles:</strong> {{index .FormFields "roles"}}</p>
            <p><strong>Skill Level:</strong> {{index .FormFields "skill"}}</p>
        </label>
        {{end}}
    </div>

    <script>
        function toggleCheckbox(checkboxId) {
            var checkbox = document.getElementById(checkboxId);
            checkbox.checked = !checkbox.checked; // Toggle checkbox checked state
        }
    </script>
</body>

</html>