<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Cards</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="players-container">
        {{range $index, $player := .players}}
        <div class="player-card" onclick="toggleRadio('playerRadio{{$index}}')">
            <div class="radio-btn">
                <input type="radio" id="playerRadio{{$index}}" name="selectedPlayer">
            </div>
            <div class="player-info">
                <h3>{{ $player.Name }}</h3>
                <p>Pronouns: {{ $player.Pronouns }}</p>
                <p>Roles: {{ $player.FormFields.roles }}</p>
                <p>Skill Level: {{ $player.FormFields.skill }}</p>
            </div>
        </div>
        {{end}}
    </div>

    <script>
        function toggleRadio(radioId) {
            var radio = document.getElementById(radioId);
            radio.checked = !radio.checked;
        }
    </script>

</body>

</html>