<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portland Mixer Drafting - Adding Teams</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header-container">
        <div id="team-creation-section">
            <h2>Add Teams</h2>
            <form class="form" method="POST" action="/add-team">
                <label for="teamAddition">Enter Team Name:</label>
                <input type="text" id="teamNameSelectAdd" name="teamAddition" placeholder="Team Name" required>
                <button type="submit" class="confirm-btn">Add Team</button>
            </form>
        </div>

        <div>
            <h3>Captains List</h3>
            {{range .draftOrder}}
            <ul>
                <li>{{.Name}}
                </li>
            </ul>
            {{end}}
        </div>

        <div class="selected-tournament-box">
            <h2>Selected Tournament</h2>
            <p><strong>Name:</strong> {{index .selectedTournament 1}}</p>
            <p><strong>Date:</strong> {{index .selectedTournament 2}}</p>
            <hr>
            <p><strong>Captains #</strong> {{.captainCount}}</p>
            <p><strong>Remaining Players #</strong> {{.remaininPlayerCount}}</p>
        </div>
    </div>
    <hr>

    <div>
        {{if gt (len .unassignedCaptains) 0}}
        <form id="assign-captain-form" method="POST" action="/assign-captain">
            <h4>Assign {{(index .unassignedCaptains 0).Name}} to a Team:</h4>
            <input type="hidden" name="captainID" value="{{(index .unassignedCaptains 0).ID}}">
            <div id="team-options">
                {{range $.teams}}
                <label>
                    <input type="radio" name="teamID" value="{{.ID}}" required>
                    {{.Name}}
                </label>
                <ul>
                    {{range .Players}}
                    <li>{{.Name}}{{if ne (index .FormFields "altname") ""}} ({{index .FormFields "altname"}}){{end}}
                    </li>
                    {{end}}
                </ul>
                {{end}}
                <br>
            </div>
            <button type="submit" class="confirm-btn">Assign Captain to Team</button>
        </form>
        {{end}}
    </div>
    <hr>

    <div id="team-deletion-section">
        <h2>Remove Teams</h2>
        <form class="form" method="POST" action="/remove-team">
            <label for="teamDeletion">Select a team:</label>
            <select id="teamNameSelectDelete" name="teamDeletion" required>
                {{range .teams}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{else}}
                <option value="">No teams available</option>
                {{end}}
            </select>
            <br><br>
            <button type="submit" class="confirm-btn">Delete Team</button>
        </form>
    </div>

    <div>
        <center>
            <h3>Ready to Start the Draft?</h3>
            <br>
            <button type="button" class="confirm-btn" onclick="confirmDoneAddingTeams()">Done Adding Teams</button>
        </center>
    </div>

    <script>
        // Function to confirm before finalizing teams
        function confirmDoneAddingTeams() {
            const isDone = confirm('Are you sure you are done adding teams?');
            if (isDone) {
                // Redirect to /confirm-teams to finalize team additions
                document.getElementById("teamForm").action = "/confirm-teams";
                document.getElementById("teamForm").method = "POST";
                document.getElementById("teamForm").submit();
            }
        }
    </script>
</body>

</html>