<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portland Mixer Drafting - Adding Teams</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header-container">
        <div id="team-creation-section">
            <h2>Add Teams</h2>
            <form class="form" method="POST" action="/add-team">
                <label for="teamAddition">Enter Team Name:</label>
                <input type="text" id="teamNameSelectAdd" name="teamAddition" placeholder="Team Name" required>
                <button type="submit" class="confirm-btn">Add Team</button>
            </form>
            <div id="teamMessage"></div>

            <div id="existing-teams">
                <h3>Existing Teams</h3>
                <ol id="team-ol">
                    {{range .teams}}
                    <li>
                        {{.Name}}
                        <form method="POST" action="/assign-captain" style="display: inline;">
                            <select id="captainSelect" name="captainID" required>
                                {{range .captains}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            </select>
                            <button type="submit" class="confirm-btn">Add To Team</button>
                        </form>
                        
                        <ul>
                            {{range .Players}}
                            <li>{{.Name}}{{if ne (index .FormFields "altname") ""}} ({{index .FormFields "altname"}}){{end}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ol>
            </div>
        </div>

        <div class="selected-tournament-box">
            <h2>Selected Tournament</h2>
            <p><strong>Name: </strong>{{index .selectedTournament 1}}</p>
            <p><strong>Date: </strong>{{index .selectedTournament 2}}</p>
            <hr>
            <p><strong>Captains # </strong>{{.captainCount}}</p>
            <p><strong>Remaining Players # </strong>{{.remaininPlayerCount}}</p>
        </div>
    </div>

    <div id="team-deletion-section">
        <h2>Remove Teams</h2>
        <form class="form" method="POST" action="/remove-team">
            <label for="teamDeletion">Select a team:</label>
            <select id="teamNameSelectDelete" name="teamDeletion" required>
                {{range .teams}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{else}}
                <option value="">No teams available</option>
                {{end}}
            </select>
            <br><br>
            <button type="submit" class="confirm-btn">Delete Team</button>
        </form>
    </div>

    <div>
        <center>
            <h3>Ready to Start the Draft?</h3>
            <br>
            <!-- Button calls JavaScript function to confirm before redirecting -->
            <button type="button" class="confirm-btn" onclick="confirmDoneAddingTeams()">Done Adding Teams</button>
        </center>
    </div>

    <script>
        // Function to confirm before finalizing teams
        function confirmDoneAddingTeams() {
            const isDone = confirm('Are you sure you are done adding teams?');
            if (isDone) {
                // Redirect to /confirm-teams to finalize team additions
                document.getElementById("teamForm").action = "/confirm-teams";
                document.getElementById("teamForm").method = "POST";
                document.getElementById("teamForm").submit();
            }
        }
    </script>
</body>

</html>